 h1 {
     
    color: white;
    font-family: unset;
    font-size: 40px;
    text-align: center;
    
    }
 
body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        background: linear-gradient(135deg, #ff758c, #ff7eb3);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150vh;
        text-align: center;
        color: white;
    }

    .card {
        background: rgba(0,0,0,0.25);
        padding: 40px;
        border-radius: 20px;
        max-width: 500px;
        box-shadow: 0 10px 25px rgba(0,0,0,0.2);
        animation: fadeIn 1.5s ease-in-out;
    }

  

    p {
       font-size: 16px;
       line-height: 1.6;
       color: white;
       font-family:fantasy;
    

}
    

    .heart {
        font-size: 30px;
        animation: beat 1s infinite;
        margin-top: 15px;
    }

    @keyframes beat {
        0% { transform: scale(1); }
        50% { transform: scale(1.2); }
        100% { transform: scale(1); }
    }

    @keyframes fadeIn {
        from { opacity: 0; transform: translateY(15px); }
        to { opacity: 1; transform: translateY(0); }
    }
 #response {
        margin-top: 15px;
        font-weight: bold;
        font-size: 18px;
    }
